<div class="container">
  <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
  <h1><%= @cocktail.name %></h1>
  <h2>Instructions for this lovely cocktail...</h2>
  <% @cocktail.doses.each do |dose| %>
    <p><%= dose.description %> | <%= dose.ingredient.name %></p>
  <% end %>
  <%= link_to "Add an ingredient", new_cocktail_dose_path(@cocktail) %>
  <%= link_to "Back to cocktails", root_path %>
</div>
